@model ManagerHR.Models.cargo

@{
    ViewBag.Title = "Delete";
}

<h2>Elimianr</h2>
<br>
<h3>Estas seguro que deseas eliminar esto?</h3>
<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cargo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-dark" /> |
            @Html.ActionLink("Atras", "Index")
        </div>
    }
</div>
